.row{
    margin-top: 40px;
}

.chilmodaladd{
    margin-top: 10px;
}
.closebutton{

 align-items:end;
 margin-top: 10px;
}
.checkboxsize{

    margin-top: 20px;


}

.checkboxcss{
    margin-left: 20px;
}
.sizeselection{

    margin-left: 40px;
}
.addbuttonsize{
    margin-top: 20px;
}